.container {
  max-width: 100%;
  margin: 0 auto;
}

body {
  background-color: aquamarine;
}

@media (min-width: 50rem) {
  body {
    background-color: coral;
  }
}

img {
  margin: 5rem 5rem 0 5rem;
  max-width: 100%;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

@media(min-width: 60rem) {
  h1 {
    font-size: 4rem;
  }
}

p {
  margin: 5rem 5rem 0 5rem;
}